
<%- include('header') -%>

<div class="text-center center-div" id="login">
    <div class="container w-25 py-5 border">
        <div class="title pb-5">
            <h2 class="font-weight-bold">Login System</h2>
            <span>Log in for the existing user</span>
            <% if(locals.logout){%>
                <h5 class="alert alert-success text-center"><%=logout%></h5>
            <%}%>
        </div>
        <form action="/route/login" method="POST" class="pt-3">
            <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Email">
                <small class="form-text text-left">Register email address</small>
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success rounded-pill">Submit</button>
            </div>
        </form>
    </div>
</div>

<%- include('footer') -%>